:root {
  --color-unfocused-tabs-bg: #3a3a3a;
  --color-unfocused-tabs-fg: #9a9a9a;
  --color-focused-tabs-bg: #9a9a9a;
  --color-focused-tabs-fg: #282828;
  --color-urlbar-separator: #9a9a9a;
  --color-urlbar-bg: #3a3a3a;
  --color-urlbar-fg: #dab997;
  --color-urlbar-popup-url: #83adad;
  --color-urlbar-selected-bg: #83adad;
  --color-urlbar-selected-fg: #3a3a3a;
  --color-urlbar-selected-popup-url: #dab997;
  --color-sidebar-bg: #3a3a3a;
  --color-sidebar-fg: #dab997;
}
