:root {
  /* Afterglow */
  /* --color-about-blank: #1a1a1a; */
  /* Gruvbox */
  --color-about-blank: #282828; 
  /* Onedark */
  /*--color-about-blank: #282c34;*/
}

@-moz-document url-prefix(about:blank) {
  * {
    background-color: var(--color-about-blank) !important;
  }
}
