* {
    border: none;
    border-radius: 0;
    /* font-family: Symbols Nerd Font,MesloLGM Nerd Font Mono; */
    font-family: CaskaydiaCove Nerd Font;
    font-size: 12px;
    min-height: 0px;
}

window#waybar {
    /*background-color: rgba(38, 38, 38, 0.9);*/
    background: rgba(38,38,38,0.9);
    background: linear-gradient(270deg, rgba(38,38,38,0.9) 0%, rgba(48,48,48,0.5) 100%);
    color: #dab997;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #dab997;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(78, 78, 78, 0.9);
    box-shadow: inset 0 -2px #dab997;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.0);
    box-shadow: inset 0 -2px #dab997;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 1px solid #ffffff;
}

#pulseaudio {
    padding:0 8px;
    margin: 0 0px;
    color: #dab997;
    background-color: #848484;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#custom-media,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 0px;
    color: #dab997;
    background-color: #3e3e3e;
}

#tray {
    padding: 0 0px;
    margin:0 0px;
    color: #ebdbb2;
    background-color: transparent;

}
#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature.critical {
    background-color: #eb4d4b;
}


#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-arrow1 {
	font-size: 20px;
	color: #949494;
	background: #4e4e4e
}
#custom-arrow2 {
	font-size: 20px;
	color: #ebdbb2;
	background: #949494
}
#custom-arrow3 {
	font-size: 20px;
	background: #4e4e4e;
	color: #ebdbb2
}
#custom-arrow4 {
	font-size: 20px;
    padding:3px 0px 1px 0px;
    margin: 0px 0px 0px 0px;
	color: #3e3e3e;
	background: #848484;
}
#custom-arrow5 {
	font-size: 20px;
    padding:3px 0px 1px 0px;
    margin: 0px 0px 0px 0px;
	color: #848484;
	background: transparent;
}
#custom-arrow6 {
	font-size: 20px;
	color: #4a4a4a;
	background: transparent;
}

