* {
    background-image: none;
}
window {
    background-color: rgba(38, 38, 38, 0.6);
}
button {
    color: #ebdbb2;
    background-color: #262626;
    border-style: none;
    border-width: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16%;
    font-size: 30px;
    background-image: none;
}

button:focus, button:active, button:hover {
    background-color: #4e4e4e;
    color: #ebdbb2;
    outline-style: none;
}

#hibernate {
    background-image: image(url("/usr/share/icons/numix16/128/actions/xfsm-hibernate.svg"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/icons/numix16/128/actions/system-logout.svg"), url("/usr/local/share/wlogout/icons/logout.png"));
}


#shutdown {
    background-image: image(url("/usr/share/icons/numix16/128/actions/system-shutdown.svg"), url("/usr/share/icons/numix16/128/actions/system-shutdown.svg"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/icons/numix16/128/actions/system-reboot.svg"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
