#back-button { display: none; }

#forward-button { display: none; }

#reload-button { display: none; }

#stop-button { display: none; }

#home-button { display: none; }

#downloads-button { display: none; }

#library-button { display: none; }

#sidebar-button { display: none; }

/* Firefox account button */
#fxa-toolbar-menu-button { display: none; }

#nav-bar-overflow-button { display: none !important; }

/* General Firefox menu button */
#PanelUI-button { display: none; }

/* Empty space before and after the url bar */
#customizableui-special-spring1,
#customizableui-special-spring2 { display: none; }
/*
 Addon icons 
.webextension-browser-action { display: none !important; }
*/
