/* https://www.reddit.com/r/FirefoxCSS/comments/hw3tbxs/howing_the_navbar_in_place_of_the_tabbar_when/ */

:root[sessionrestored] #nav-bar:not([customizing]) {
  display: flex;
  position: fixed !important;
  top: 0;
  width: 100vw;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

#nav-bar-customization-target { flex-grow: 1; }

#nav-bar:focus-within {
  z-index: 2 !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}
/*
    css part of the prismatic night theme. visit https://github.com/dbuxy218/Prismatic-Night
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
 #navigator-toolbox:not(:focus-within):not(:hover) {
    margin-top: -27px;
  }
  #navigator-toolbox {
    transition: 0.2s margin-top ease-out;
  }

  */
